<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YGS</display-name>
  <servlet>
    <servlet-name>WebCtrlServlet</servlet-name>
    <servlet-class>geovlet.servlet.CtrlServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebCtrlServlet</servlet-name>
    <url-pattern>/GEOMEX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KrasGmxConnConfigLoad</servlet-name>
    <servlet-class>geomex.kras.gmx.KrasGmxConnCfg</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <display-name>webctrl</display-name>
  <servlet>
    <description></description>
    <display-name>WebCtrl</display-name>
    <servlet-name>WebCtrl</servlet-name>
    <servlet-class>geomex.svc.webctrl.WebCtrl</servlet-class>
    <init-param>
      <param-name>tempPath</param-name>
      <param-value>\WEB-INF\temp\</param-value>
    </init-param>
    <init-param>
      <param-name>LrgstURL</param-name>
      <param-value>http://25.151.218.239:8080/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebCtrl</servlet-name>
    <url-pattern>/svc</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>